@tailwind base;
@tailwind components;
@tailwind utilities;

#email,
#password,
#name {
    cursor: pointer;
    background-color: transparent;
    padding: 13px 11px 11px 11px;
    height: fit-content;
    position: relative;
    top: 4px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #d1d5db;
    border-left: none;
}